body {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 250%);
    font-size: 12px;
    padding: 20px 15% 0 10%;
    border-top: 2px solid #CCCCCF;
    border-left: 2px dotted #D8E8EB;
}

.titre-cv {
    border-bottom: 2px solid rgb(255, 255, 255);
    text-align: right;
    padding-bottom: 10px;
    color: white;
}

.clear-section {
    clear: both;
    margin-top: 20px;
    color: white;
}

.nom-souligne {
    border-bottom: 2px solid rgb(255, 255, 255);
    display: inline-block;
}

.custom1 {
    font-size: 19px;
    color: rgb(253, 253, 253);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 2px solid;

}

.photo {
    width: 200px;
    border-radius: 100%;
    float: left;
    margin-right: 2em;
}

.Profil {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline 2px;

}
.Titre-classe {
    color: white;
    border-bottom: 2px solid;
    font-size: 1.8em;
    padding-left: 1.5em;
    margin-top: 1em;
    margin: 0 0 0.4em 0;
    padding-left: 1.8em;
}
.lieu-stage {
    color: rgb(247, 174, 192);
    font-size: 1.2em;
    font-style: italic;
    text-decoration: underline;
}
.texte-stage {
    font-size: 1.2em;
    color: rgb(0, 217, 255);
    font-style: italic;
}
.texte-profil {
    font-size: 1.2em;
    color: rgb(255, 166, 0);
}
.Lloisir- {
    color: greenyellow;
    font-size: 1.2em;
}
.date {
    color: rgba(252, 70, 107, 1);
    font-size: 1.8em;
}
.formation-actuelle {
    color:rgb(0, 255, 149);
    font-size: 1.8em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.DIPLOME {
    color: rgb(255, 251, 0);
    font-size: 1.2em;
    font-style: italic;
}
