@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #4c4942;
    --black: #13131a;
    --bg: #1c1a1a;
    --border: .1rem solid rgb(91, 89, 84);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
   
    transition: .2s linear;

}
html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}
body {
    background-image: url(image/rachel-harvey-JlW6UIFG1es-unsplash.jpg);
}

.bloccouleur{
background-color: #5d5d5dd2;
border: var(--border);
width: 1700px;
height: 225px;
margin-left: 100px;
margin-top: 150px;
position: absolute;
border-radius: 2px;
}
.image1{
background-image: url(image/prog\ unreal.png);
border: var(--border);
background-size: cover;
width: 35vw;
height: 45vh;
margin-top: 10px;
margin-left: 300px;
margin-top: 45px;
border-radius: 3px;
float: right;
position: absolute;

}
.image2{
background-image: url(image/logo-ureal-engine.jpg);
border: var(--border) solid 5px;
width: 250px;
height: 250px;
background-size: cover;
float: right;
margin-top: 325px;
margin-left: 910px;
position: absolute;
border-radius: 3px;

}
.image3 {
    background-image: url(image/launcher\ epic\ games.png);
    width: 500px;
    height: 500px;
    position: absolute;
    background-size: cover;
    margin-left: 1200px;
    margin-top: 60px;
    border-radius: 3px;
}
.textCIEL {
    position: absolute;
    width: 200px;
    height: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 
      0 0 7px #ffe7c9,
      0 0 10px #000000,
      0 0 21px #050505,
      0 0 42px rgb(133, 133, 133),
      0 0 82px rgb(133, 133, 133),
      0 0 92px rgb(133, 133, 133),
      0 0 10px rgb(133, 133, 133),
      0 0 151px rgb(133, 133, 133);
    font-family: monospace;
    font-weight: bold;
    font-size: 3em;
    margin-top: -805px;
    margin-left: 300px;
    letter-spacing: 3px;
}
.material-symbols-outlined {
    color: rgb(255, 255, 255);
    text-shadow: 
      0 0 7px #ffe7c9,
      0 0 10px #000000,
      0 0 21px #050505,
      0 0 42px rgb(133, 133, 133),
      0 0 82px rgb(133, 133, 133),
      0 0 92px rgb(133, 133, 133),
      0 0 10px rgb(133, 133, 133),
      0 0 151px rgb(133, 133, 133);
      position: absolute;
      margin-top: -804px;
      margin-left: 1440px;
      font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.textprincipal {
    color: rgb(255, 255, 255);
    text-shadow: 
      0 0 7px #ffe7c9,
      0 0 10px #000000,
      0 0 21px #050505,
      0 0 42px rgb(133, 133, 133),
      0 0 82px rgb(133, 133, 133),
      0 0 92px rgb(133, 133, 133),
      0 0 10px rgb(133, 133, 133),
      0 0 151px rgb(133, 133, 133);
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
    margin-left: 780px;
    margin-top: -770px;
    position: absolute;
    font-size: 1.6em;
}
.textetitre{
    color: rgb(255, 255, 255);
    text-shadow: 
      0 0 7px #ffe7c9,
      0 0 10px #000000,
      0 0 21px #050505,
      0 0 42px rgb(133, 133, 133),
      0 0 82px rgb(133, 133, 133),
      0 0 92px rgb(133, 133, 133),
      0 0 10px rgb(133, 133, 133),
      0 0 151px rgb(133, 133, 133);
    font-family: monospace;
    font-weight: bold;
    font-size: 1.4em;
    position: absolute;
    margin-top: 500px;
    margin-left: 120px;
    font-style: italic;
   
}
.pavet1 {
    width: 700px;
    color: white;
    position: absolute;
    font-size: 1em;
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    margin-left: 200px;
    margin-top: 550px;

}
.espacepavet1 {
    line-height: 60px;
}
.pavet2 {
    color: white;
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    position: absolute;
    font-size: 1em;
    width: 700px;
    margin-left: 200px;
    margin-top: 610px;
}
.pavet3 {
    color: white;
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    position: absolute;
    font-size: 1em;
    width: 700px;
    margin-left: 200px;
    margin-top: 710px;
}
.textetitre2{
    color: rgb(255, 255, 255);
    text-shadow: 
      0 0 7px #ffe7c9,
      0 0 10px #000000,
      0 0 21px #050505,
      0 0 42px rgb(133, 133, 133),
      0 0 82px rgb(133, 133, 133),
      0 0 92px rgb(133, 133, 133),
      0 0 10px rgb(133, 133, 133),
      0 0 151px rgb(133, 133, 133);
    font-family: monospace;
    font-weight: bold;
    position: absolute;
    font-size: 1.4em;
    font-style: italic;
    margin-top: 580px;
    margin-left: 1200px;
}
.pavet4 {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    width: 600px;
    margin-left: 1200px;
    margin-top: 623px;
}
.logoCIEL {
    background-size: cover;
    background-image: url(image/logo\ btsciel.png);
    position: absolute;
    width: 190px;
    height: 100px;
    margin-top: -830px;
    margin-left: 50px;
    border-radius: 5px;
}
header {

        margin: 0 auto;
        height: 150px;
        padding: 120px 0 0 0;
        text-align: right;
        font-size: 16px;
        color: rgb(255, 255, 255);
    text-shadow: 
      0 0 7px #ffe7c9,
      0 0 10px #000000,
      0 0 21px #050505,
      0 0 42px rgb(133, 133, 133),
      0 0 82px rgb(133, 133, 133),
      0 0 92px rgb(133, 133, 133),
      0 0 10px rgb(133, 133, 133),
      0 0 151px rgb(133, 133, 133);
    font-family: monospace;
    font-weight: bold;
        letter-spacing: 2px;

        ul li {
            
            position: absolute;
            bottom: 50px;
            list-style: none;
            margin: 0 auto;
            display: inline-block;
            padding: 0 30px;
            position: relative;
            text-decoration: none;
            text-align: center;
            color: rgb(255, 255, 255);
            text-shadow: 
              0 0 7px #ffe7c9,
              0 0 10px #000000,
              0 0 21px #050505,
              0 0 42px rgb(133, 133, 133),
              0 0 82px rgb(133, 133, 133),
              0 0 92px rgb(133, 133, 133),
              0 0 10px rgb(133, 133, 133),
              0 0 151px rgb(133, 133, 133);
            font-family: monospace;
            font-weight: bold;
        }

        li a {
            color: rgb(255, 255, 255);
        }


        li a:hover {
            color: #f3f5f8;
        }

        li:hover {
            cursor: pointer;
        }

        ul li ul {
            visibility: hidden;
            opacity: 0;
            top: 20px;
            position: absolute;
            padding-left: 0px;
            left: 0px;
            display: none;

            border-radius: 10px;
        }

        ul li:hover>ul,
        ul li ul:hover {
            visibility: visible;
            opacity: 1;
            display: block;
            min-width: 250px;
            text-align: left;
            background-color: #1c1a1a;
            padding-top: 30px;
            box-shadow: 0px 3px 5px -1px #f5ca90 ;
        }

        ul li ul li {
            clear: both;
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            border-style: none;
            top: 0px;
        }

        ul li ul li a:hover {

            padding-left: 10px;
            transition: all 0.3s ease;
        }
    }


a {

    text-decoration: none;

    &:hover {
        color: #ffffff;
    }

}

ul li ul li a {
    transition: all 0.5s ease;
}
