@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {

  margin: 0;
  text-decoration: none;

  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  background: #222222;
  height: 80px;
  width: 100%;
}

table {
  float: left;
  margin-top: 110px;
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;
  color: white;
}

th,
td {
  background-color: #8c4aca;
  border: 1px solid white;
  padding: 8px;
  color: white;
  text-align: left;
}

th {
  border: 1px solid white;
  color: white;
  background-color: black;
}

.blocsepa {

  width: 100%;
  background-color: #222222;
  height: 400px;
}

.bloc1 {
  border-radius: 10px;
  margin-left: 180px;
  float: left;
  margin-top: 150px;
  width: 80%;
  background-color: #222222;
  height: 600px;
}

.imagebloc11 {
  border-radius: 3px;
  margin-top: -580px;
  margin-left: 1050px;
  float: left;
  background-image: url(image/UNITY\ BLOC1.png);
  width: 600px;
  height: 250px;
  background-size: 250%;
}

.imagebloc12 {
  background-image: url(image/unreal-engine\ IMAGE\ BLOC1.jpg);
  width: 600px;
  border-radius: 3px;
  margin-top: -270px;
  margin-left: 1050px;
  float: left;
  height: 250px;
  background-size: 180%;
}

.title1 {
  margin-top: 20px;
  font-size: 1.3em;
  margin-left: 70px;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;

  color: white;
  width: 900px;
  font-weight: bold;
}

.text1 {
  margin-top: 10px;
  margin-left: 70px;
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 710px;
}

.title2 {
  margin-top: 20px;
  font-size: 1.3em;
  margin-left: 70px;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 900px;
  font-weight: bold;
}

.text2 {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  margin-left: 55px;
  color: white;
  width: 710px;
}

.text3 {
  color: white;
}

.PAGEEN {
  display: none;
}

.CREAT {
  display: none;
}

label.logo {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.dropdown-menu a:hover {
  color: #8c4aca;
}
a:hover {
color: #8c4aca;
}
.mot {
  color: #8c4aca;
}  
.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.dropdown-menu {
  display: none;

  position: absolute;
  background-color: #222222;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li a {
  background-color: #222222;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #222222;
  width: 300px;
}

@media (max-width: 890px) {
  .TRAVAIL {
    display: none;
  }
  .PAGEEN {
    margin-left: 20px;
    display: flex;
  }
  .CREAT {
    margin-left: 70px;
    display: flex;
  }
  .section1 {
    margin-top: 300px;
  }
  .title1 {
    width: 320px;
    line-height: 20px;
    margin-left: 20px;
    font-size: 1.1em;
  }

  .text1 {
    font-size: 0.7em;
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .title2 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.1em;
    width: 320px;
    line-height: 20px;
  }

  .text2 {
  margin-left: 0;
  width: 320px;
    font-size: 0.7em;
  }
  .blocsepa {
    background-color: #222222;
    height: 920px;
    width: 100%;
  }
  .table1 tr, .table1 td, .table1 th {
   width: 390px;
   font-size: 0.7em;
  }
.table1 {
  margin-top: 600px;
font-size: 1em;
width: 390px;
}
.imagebloc11 {
  position: absolute;
  margin-left: 40px;
  margin-top: 800px;
  height: 30%;
width: 310px;
}
.imagebloc12 {
  position: absolute;
  margin-left: 40px;
  margin-top: 1070px;
  height: 30%;
width: 310px;
}
  .bloc1 {
    height: 622px;
    margin-top: 70px;
    float: left;
    margin-left: 20px;
    width: 90%;
  }

  .checkbtn {
    display: block;
  }

  label.logo {
    font-size: 22px;
  }
  ul {
    position: absolute;
    width: 100%;
    height: 542px;
    background: #444444;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #8c4aca;
  }

  #check:checked~ul {
    left: 0;
  }

}

.section1 {
  background-image: url(image/111111111111111111.jpg);
  background-size: cover;
  height: calc(100vh - 80px);
}